body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* cabeçalho */
div.logo {
    background: linear-gradient(#003366, #006699);
    font-size: 2em;
    color:aliceblue;
    font-weight: bold;

}
/* main */
main{
    background: linear-gradient(#cccccc, #ffffff);
    padding: 16px;
}
.botao{
    color: white;
    background-color: rgb(21, 191, 15);
    border: none;
    border-radius: 4px;
    
}

/* rodape */

footer, span a{
    background: #003366;
    color: white;
}